.NavBar{
  background-color:darkslategray; 
  width:90%;
  left:5%;
  right:5%;
  position:fixed;
  border-radius:1rem;
  padding-left:1%;
  padding-right: 1%;
  padding-top:0.5%;
  padding-bottom:0.5%;
  overflow-x: hidden;
  overflow-y: hidden;
  align-content: center;
  border:black solid 2px;
  z-index: 3;
}
.LinkCard {
  border:black solid 2px;
  text-align:center;
  font-size:3rem;
  border-radius:1rem;
  transition:0.5s;
  width:25%;
}
.NavBar > table{
  width:100%;
  padding:0%;
  margin:0%;
  position:relative;
  float:right;
}
.NameCard{
  border: black solid 2px;
  border-radius: 1rem;
  /* width:100%; */
  text-align:center;
  font-size:1.5rem;
  background-color: rgb(0, 251, 255);
}
body{
  width:100%;
  height:100%;
  background-color: #828282;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23000000' fill-opacity='0.4'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  left:0%;
  background-attachment: fixed;
  z-index: -1;
}
.LinkCard{
  background:rgba(4, 255, 133);
  padding:0%;
  margin: 0%;
  }

.LinkCard:hover{
  background-color: rgb(0, 251, 255);
  transition: 0.5s;
  border:solid white 2px

}
.BigCard{
  background-color: rgba(4, 255, 133,1);
  font-size:1.5rem;
  position:relative;
  height:50%;
  width:90%;
  left:5%;
  border-radius: 1rem;
  border:solid 2px black;
  top:5rem;
  margin-bottom:1rem;
  padding:1%;
}

.cardTitle{
  color:black;
  width:100%;
  text-align: center;
  text-decoration: underline;
  height:100%;
  position: relative;
  left:0%
}
hr{
  background-color:black;
  height: 0.1rem;
  border:solid 2px black
}
NavBar > table > td{
  width:25%;
}
.SmallCard{
  width:25%;
  position: relative;
  margin-right:5.1%;
  top:5rem;
  border:black solid 2px;
  left:5%;
  border-radius: 1rem;
  margin-bottom:1rem;
  background-color: rgba(4, 255, 133,1);
  display:inline-flex;
  overflow: hidden;
  padding:1%;
  font-size: 2rem;
  height:auto;
  align-content: center;
}
.SmallCard > img{
  width:13rem;
  
}
.SmallCardContainer > .SmallCard{
  height:100%;
  position: relative;
}
.SmallCardContainer{
  height:auto;
  padding:none;
  display:flexbox
}
.ContactButton{
  width:8rem;
  position: fixed;
  bottom:2%;
  right:2%;
  z-index: 3;
  height: 8rem;
  border:solid black 2px;
  border-radius: 1rem;
  background-color: darkslategray;
  transition: 0.4s;
  overflow: hidden;
  font-size: 1.5rem;
  text-align: center;
}
.ContactButton:hover{
  width:20rem;
  height:20rem;
}
.ContactButton > svg{
  width:8rem;
  height:8rem;
}
.ContactButton:hover > svg{
  width:8rem;
  height:8rem;
  transition: 0.4s;
}
a{
  color:black;
  text-decoration: none;
}
.resumePage{
  visibility: hidden;
  display: none;
  width:100%;
  top:5rem;
  position: relative;
}
.previous{
  visibility:hidden;
  display:none;
  width:100%;
  top:5rem;
  position: relative;
}
.index{
  top:5rem;
  position: relative;
}
